<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="BehaviorSettings" type="System.Configuration.NameValueSectionHandler"/>
    <section name="AudioSettings" type="Kinect.Model.AudioSettings, Kinect"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <BehaviorSettings>
    <add key="CustomBehaviorsID" value="leadactions-326f51/"/>
  </BehaviorSettings>
  <AudioSettings>
    <AudioGroups>
    <add Type="DrawIn" ClipCount="4" IsAudioAsync="true" IsCallResponse="false"/>
    <add Type="LeadInitial" ClipCount="1" IsAudioAsync="false" IsCallResponse="false"/>
    <add Type="LeadComment" ClipCount="5" IsAudioAsync="true" IsCallResponse="false"/>
    <add Type="TryNew" ClipCount="8" IsAudioAsync="false" IsCallResponse="false"/>
    <add Type="TryRepeat" ClipCount="6" IsAudioAsync="false" IsCallResponse="false"/>
    <add Type="FollowInitial" ClipCount="2" IsAudioAsync="false" IsCallResponse="false"/>
    <add Type="FollowComment" ClipCount="5" IsAudioAsync="true" IsCallResponse="false"/>
    <add Type="SilenceFill" ClipCount="5" IsAudioAsync="true" IsCallResponse="false"/>
    <add Type="Joke" ClipCount="8" IsAudioAsync="true" IsCallResponse="false"/>
    <add Type="Outtro" ClipCount="3" IsAudioAsync="true" IsCallResponse="false"/>
    <add Type ="trivia" ClipCount="65" IsAudioAsync="true" IsCallResponse="true"/>
    </AudioGroups>
    <AudioSingles>
      <add ClipName="intro" ButtonName="Intro" IsAudioAsync="false"/>
      <add ClipName="hello" ButtonName="Hello" IsAudioAsync="true"/>
      <add ClipName="yes" ButtonName="Yes" IsAudioAsync="true"/>
      <add ClipName="no" ButtonName="No" IsAudioAsync="true"/>
      <add ClipName="laugh" ButtonName="Laugh" IsAudioAsync="true"/>
      <add ClipName="wanna_hear_a_joke" ButtonName="Wanna?" IsAudioAsync="true"/>
    </AudioSingles>
  </AudioSettings>
</configuration>
